 <!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title>Stock Analyzer</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='index.css') }}">
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            📈 Stock Analyzer
        </div>

        <div class="nav-links">
            <a href="{{ url_for('home') }}">首頁</a>
            <a href="{{ url_for('todo') }}">User Record</a>
            <a href="{{ url_for('stock_dashboard') }}">股市分析</a>
            <a href="{{ url_for('html_tags') }}">HTML展示</a>
            <a href="{{ url_for('news') }}">HackNews</a>
            <a href="{{ url_for('quotes') }}">Quotes</a>
        </div>

    </nav>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>