<!DOCTYPE html>
<html>
    <head>
        <title>Quotes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    </head>

    <body>
        {% extends "navbar.html" %}

    {% block content %}

        <h1>Quotes</h1>

        {% for quote in quote_list %}

            <div>

                <p>
                    {{ quote.text }}
                </p>

                <p>
                    - {{ quote.author }}
                </p>

            </div>

            <hr>

        {% endfor %}
        {% endblock %}
    </body>
</html>